body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4ae1c; /* amarelo do fundo */
    color: #000c44;
  }
  
  .container {
    padding: 20px;
  }
  
  .voltar {
    text-decoration: none;
    font-size: 18px;
    color: #000c44;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .page {
display: flex;
align-items: center;
gap: 70px;

  }

  .imagem img {
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  
  .info {
    flex: 1;
    min-width: 300px;
  }
  
  .horarios {
    width: 750px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }
  .info img {
border-radius: 35px;
  }
  
  .inscricao {
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .categorias {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .categoria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .categoria strong {
    min-width: 90px;
  }
  
  .categoria button {
    background-color: #001f8b;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
  }
  
  .categoria button:hover {
    background-color: #0032cc;
  }


  
  .carousel {
    position: relative;
    width: 750px;
    height: 750px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;
    overflow: hidden;
    border-radius: 12px;
  
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  .carousel-images img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 100%;
    flex-shrink: 0;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }