* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: #FDB913;
    color: #001D7E;
    height: 100vh;
    overflow: hidden;
  }
  header {
    margin-bottom: 10px;
  }
  .voltar {
    color: #001f8b;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold 3%;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  