body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FDB913;
  color: #001D7E;
}



/*barra lateral*/
.container {
  display: flex;
  flex-direction: row-reverse; 
  position: relative;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}.menu img {
  width: 55px;
  height: 55px;
}
.sidebar {
  display: flex;
  flex-direction: row-reverse; 
  position: relative;
  background-color: #001c75;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  position: relative;
}
.sidebar img.logo {
  width: 77px;
  margin-bottom: 50px;
}
.sidebar img.user-icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 55px;
  height: 55px;
  transform: translateX(-50%);
}



/* Destaques  */

.carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 0;
  margin-right: auto; /* Garante alinhamento à esquerda */
  }

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  border-radius: 10px;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}




/*produtos*/

.produto-grid {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.produto {
  background: #001D7E;
  color: white;
  border-radius: 12px;
  padding: 8px;
  width: 250px;
  text-align: left;
  font-size: 14px;
}

.produto img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}



/*bastidores*/

.bastidor-grid {
  display: flex;
  gap: 16px;
}

.bastidor {
  background: #001D7E;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  width: 220px;
}

.bastidor img {
  width: 100%;
  height: auto;
}

.bastidor p {
  padding: 6px 10px;
  font-size: 14px;
}


