* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FDB913;
  color: #001D7E;
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 100%;
}

main.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-row {
  display: flex;
  gap: 20px;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



/* Sidebar */

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #001c75;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  position: relative;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.sidebar .logo {
  width: 77px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.menu img {
  width: 50px;
  height: 50px;
}

.user-icon {
  position: absolute;
  bottom: 10px;
  width: 35px;
  height: 35px;
}

.content {
  flex: 1;
  padding: 20px;
}

.destaque-card img {
  width: 200px;
  margin-bottom: 10px;
}


.sidebar {
  background-color:#001c75;
  width: 85px;
  transition: width 0.3s ease;
  overflow: hidden;
  padding-top: 10px;
  height: 100vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.expanded {
  width: 190px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.menu-compact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-compact img {
  width: 50px;
  height: 50px;
}

.menu-expanded {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  gap: 20px;
}

.menu-expanded .menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.menu-expanded img {
  width: 50px;
  height: 50px;
}

.profile {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.profile img {
  width: 50px;
  height: 40px;
}

/* Mostrar/ocultar baseado na expansão */
.sidebar.expanded .menu-compact {
  display: none;
}

.sidebar.expanded .menu-expanded {
  display: flex;
}
.profile {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}



/* Expandido (inicialmente escondido) */
.profile-expanded {
  display: none;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.profile-expanded img {
  width: 50px;
  height: 40px;
}

/* Mostrar o expandido quando a sidebar estiver expandida */
.sidebar.expanded .profile-icon {
  display: none;
}

.sidebar.expanded .profile-expanded {
  display: flex;
  align-self: flex-start;
}


/* Carrossel */
.carousel {
  position: relative;
  width: 500px;
  height: 890px;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;
  overflow: hidden;
  border-radius: 12px;

}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-images img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  height: 100%;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Produtos */

.produtos a {
  color: #001c75;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
}
.produto-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.produto {
  background: #001D7E;
  color: white;
  border-radius: 12px;
  padding: 8px;
  font-size: 17px;
  width: 300px;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;
}
.produto p {
  margin-top: 8px;
  margin-left: 5px;
}
.produto img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}

/* Bastidores */

.bastidores a {
  color: #001c75;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
}

.bastidores h2 {
  margin-bottom: 10px;

}

.bastidor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.bastidor {
  background: #001D7E;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  font-size: 14px;
  height: 470px;
  width: 626px;
  padding: 8px;
  border-radius: 12px;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;

}

.bastidor img {
  width: 100%;
  height: 406px;
  object-fit: cover;
  border-radius: 10px;
}

.bastidor p {
  padding: 6px 10px;
}



