* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FDB913;
  color: #001D7E;
  height: 100vh;
  overflow: hidden;
}
.avatar{
  border-radius: 100%;
}
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #001f8b;
    color: #FDB913;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .voltar {
    color:#FDB913 ;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold 3%;
  }
  
  .avatar {
    width: 130px;
    margin: 20px 0;
  }
  
  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    margin-top: 10px;
  }
  
  .formulario input {
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-top: 4px;
    background-color: #3144a1;
    color: white;
  }
  
  .formulario button {
    margin-top: 20px;
    background-color: #5c68d4;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .formulario button:hover {
    background-color: #7685f0;
  }
  
  .conteudo {
    flex: 1;
    background-color: #f4ae1c;
    padding: 30px;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    color: #001D7E;
    margin-bottom: 12px;
  }
  
  .produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    
  }
  
  .produto {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color:#001D7E;
    color: white;
    border-radius: 12px;
    width: 350px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;
  }
  
  .produto img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .produto p {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .produto strong {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  }
  